@charset "UTF-8";
body {
    background-color: rgb(205, 103, 153);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
a {
    text-decoration: none;      /*tira o sublinhado padrão*/
    font-weight:  bold;         /*deixa em negrito*/
}
a:visited {
    color: blueviolet;        /*muda a cor dos links já visitados*/
}
a:hover {
    /*color: black;               se eu quiser mudar a cor do linkao passar o mouse*/
    text-decoration: underline; /*sublinha ao passar o mouse em cima*/
}
a:active {
    color: yellow;
}
                                /* target="_blank" abre os links em uma nova aba
                                SELETORES PERSONALISADOS
                                   #  = id
                                   .  = class
                                   :  = pseudo-class
                                   :: = pseudo-element
                                   >  = children        (filho)*/

a::after {
    content: ' [link]';
    text-decoration: none;
    font-weight: normal;
}

/*CLASSES ESPECIAIS*/

.especial::before {
    content: '=>';
    font-weight:  bold;
}
.especial::after {
    content: '<=';
    font-weight:  bold;
}