@charset "UTF-8";

body{
    background-color: rgb(205, 103, 153);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
h1{
    color: white;
    background-color: paleturquoise;
    text-align: center;
}
h2{
    color: whitesmoke;
    text-align: center;
}
p{
    text-align: center;
}