@charset "UTF-8";

body {
    background-color: rgb(205, 103, 153);
    color: white;
}
h1 {
    color: white;
}
iframe {
    background-color: white;
    width: 95vw;
    height: 400px;
    border: 2px solid black;
}